.table td, .table th {
  padding: .75rem;
  width: 33%;
  text-align: center;
}

.table_container {
    width: 80%;
    margin: 2% auto;
}

.cadastro_form {
    margin: 2% auto;
    width: 80%;
}

.button-form {
    width: 30%;
}

div.modal-body form#cadastroForm.cadastro_form div.row div.col button#submitButton.form-control.button-form {
    width: 100%;
}

#modalId {
    display: inline;
}