<!DOCTYPE HTML>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base :: head"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="base :: nav"></div>
<form class="cadastro_form" th:fragment="form" id="cadastroForm">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="nome" placeholder="Despesa | ex: Cartão de Crédito">
        </div>
        <div class="col">
                <input type="text" class="form-control input-valor" name="valor" value="R$ " id="valor" placeholder="Valor">
        </div>
        <div class="col">
            <input type="date" class="form-control" name="dataPagamento" placeholder="Data de pagamento">
        </div>
        <div class="col">
            <button class="form-control button-form" id="submitButton">Cadastrar</button>
        </div>
    </div>
</form>
<script th:fragment="form-script" th:src="@{/js/cadastro_form.js}"></script>
</body>
</html>