<!DOCTYPE HTML>
<link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base :: head"></div>
</head>
<body>

<div class="table_container">
    <table class="table">
        <thead>
        <tr class="table-primary">
            <th>Despesa</th>
            <th>Valor</th>
            <th>Data de Pagamento</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${nome}"></td>
            <td th:text="'R$ ' + ${valor}"></td>
            <td th:text="${dataPagamento}"></td>
        </tr>
    </table>
</div>

<p th:text="${despesas}"></p>
<!--<p th:text="'Despesa: ' + ${nome}" />-->
<!--<p th:text="'Valor: ' + ${valor}" />-->
<!--<p th:text="'Data de pagamento: ' + ${dataPagamento}" />-->
</body>
</html>